server:
  port: 8082

spring:
  application:
    name: studentservice
  datasource:
    url: jdbc:postgresql://localhost:5432/student_service
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: jMArLpHsJw0NlMuvz7esYfcgeNEmbijL0+TH/MRl86ozbrkMTWJPztO7qRQkop8bKe4lCvh8GW2FnJCj2Oy/ig==

eureka:
  instance:
    prefer-ip-address: false
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /studentservice/v3/api-docs
    enabled: true
  swagger-ui:
    path: /studentservice/swagger-ui.html